---
import { StarBackground } from "../components/StarBackground"
import Header, { headerHeight } from "../components/Header.astro"
import "@fontsource/poppins/400.css"
import "@fontsource/poppins/500.css"
import "@fontsource/poppins/600.css"
import "@fontsource/poppins/700.css"
import clsx from "clsx"

export interface Props {
  title: string
  noMaxWidth?: boolean
  class?: string
}

const { title, noMaxWidth, class: className = "" } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1e0f40" />
    <meta name="msapplication-TileColor" content="#1e0f40" />
    <meta name="theme-color" content="#1e0f40" />
    <meta content={`${title} - daimond113`} property="og:title" />
    <meta
      content="daimond113 - a passionate full-stack developer."
      property="og:description"
    />
    <meta content="https://daimond113.github.io" property="og:url" />
    <meta content="https://github.com/daimond113.png" property="og:image" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} - daimond113</title>
    <style>
      @tailwind base;

      @layer base {
        :root {
          --primary: #6750a4;
          --on-primary: #ffffff;
          --primary-container: #e9ddff;
          --on-primary-container: #23005c;
          --secondary: #625b70;
          --on-secondary: #ffffff;
          --secondary-container: #e8def8;
          --on-secondary-container: #1e192b;
          --tertiary: #7e5260;
          --on-tertiary: #ffffff;
          --tertiary-container: #ffd9e2;
          --on-tertiary-container: #31101d;
          --error: #ba1a1a;
          --on-error: #ffffff;
          --error-container: #ffdad6;
          --on-error-container: #410002;
          --background: #fffbff;
          --on-background: #1c1b1e;
          --surface: #fffbff;
          --on-surface: #1c1b1e;
          --surface-variant: 231, 224, 235;
          --on-surface-variant: #49454e;
          --outline: #7a757f;
          --outline-variant: #cac4cf;
          --shadow: #000000;
          --scrim: #000000;
          --inverse-surface: #323033;
          --inverse-on-surface: #f4eff4;
          --inverse-primary: #d0bcff;
        }

        @media (prefers-color-scheme: dark) {
          :root {
            --primary: #d0bcff;
            --on-primary: #381e72;
            --primary-container: #4f378a;
            --on-primary-container: #e9ddff;
            --secondary: #ccc2db;
            --on-secondary: #332d41;
            --secondary-container: #4a4458;
            --on-secondary-container: #e8def8;
            --tertiary: #efb8c7;
            --on-tertiary: #4a2532;
            --tertiary-container: #633b48;
            --on-tertiary-container: #ffd9e2;
            --error: #ffb4ab;
            --on-error: #690005;
            --error-container: #93000a;
            --on-error-container: #ffb4ab;
            --background: #1c1b1e;
            --on-background: #e6e1e6;
            --surface: #1c1b1e;
            --on-surface: #e6e1e6;
            --surface-variant: 73, 69, 78;
            --on-surface-variant: #cac4cf;
            --outline: #948f99;
            --outline-variant: #49454e;
            --shadow: #000000;
            --scrim: #000000;
            --inverse-surface: #e6e1e6;
            --inverse-on-surface: #323033;
            --inverse-primary: #6750a4;
          }
        }
      }
    </style>
    <slot name="head-slot" />
  </head>
  <body class="bg-surface text-on-surface" style={{ paddingTop: `${headerHeight}px` }}>
    <Header />
    <StarBackground client:idle />
    <div class="px-8 sm:px-14 md:px-20 lg:px-32 xl:px-40 2xl:px-60 w-full">
      <main
        class={clsx(
          "prose prose-on-surface",
          noMaxWidth
            ? "max-w-none"
            : "break-words max-w-[50ch] sm:max-w-[63ch] md:max-w-[65ch]",
          className
        )}
        style={{ minHeight: `calc(100vh - ${headerHeight}px)` }}
      >
        <slot />
      </main>
    </div>
  </body>
</html>
